.view {
  -fx-background-color: #99ff99;
}
.LabelCategory {
  -fx-font-size: 20;
  -fx-font-style: italic;
  -fx-font-weight: bold;
  -fx-text-fill: blue;
}
.hyperlinkTitle {
  -fx-font-size: 30; 
  -fx-font-weight: bold; 
  -fx-text-fill: brown;
}
.howOldLabel {
  -fx-font-size: 25; 
  -fx-font-weight: bold; 
  -fx-text-fill: brown;
}
.labelStatic {
  -fx-font-size: 14;
  -fx-font-style: italic;
}
.viewTitle {
  -fx-text-fill: #1820b2;
  -fx-font-size: 14; 
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-border-insets: 10px;
  -fx-background-insets: 10px;
}
.txtError {
	-fx-border-color: #ff0000;
	-fx-border-width: 2;
}
.tooltip-error {
	-fx-background-color: white;
	-fx-text-fill: red;
	-fx-font-size: 125%;
}